

<% language_tabs = current_page.data.language_tabs || [] %>
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title><%= current_page.data.title || "Bonsai Documentation" %> - Bonsai</title>
	<style>
	  <%= Rouge::Themes::Base16::Monokai.render(:scope => '.highlight') %>
	</style>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
	<%= stylesheet_link_tag :screen, media: :screen %>
	<%= stylesheet_link_tag :print, media: :print %>
	<%= stylesheet_link_tag :test, media: :screen %>
	<%= favicon_tag '/favicon.ico' %>
	<% if current_page.data.search %>
	<%= javascript_include_tag  "all" %>
	<% else %>
	<%= javascript_include_tag  "all_nosearch" %>
	<% end %>
	<%= partial "partials/google-gtm" %>
	
</head>
	  	
<body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
	
		  
	<%= partial "partials/hide-gtm" %>

	<div id="flex-container">	  

		<%= partial "partials/primary-nav" %>	

		<div id="main-wrapper">

			<div id="top">

				<div >

					<p class="welcome">Bonsai Docs</p>
					<p class="sub-text-1">Bonsai enables developers to build, teach, and use intelligence models</p>

					<div class="flex-desktop-center-rows margin-top-1 max-width-x row-override">
					<a class="green-button" href="/guides/getting-started.html">Quick Start</a>
					<a class="green-button" href="#help">Get Help</a>
					</div>

				</div>

			</div>

			<div id="browse">

				<span id="browse-divs">

					<div>
						
						<p class="p2">Guides</p>
						
						<ul>
							<li> <a href="/guides/ai-engine-guide.html">AI Engine Guide</a> </li>
							<li> <a href="/guides/inkling-guide.html">Inkling Guide</a> </li>
							<li> <a href="/guides/cli-install-guide.html">Install the CLI</a></li>
							<li> <a href="/guides/local-dev-guide.html">Run the Platform Locally</a></li>
							<li> <a href="/guides/web-graphs-guide.html">Understand BRAIN Graphs</a> </li>
						</ul>
					
					</div>

					<div>
						
						<p class="p2">References</p>
						
						<ul>
							<li> <a href="/references/api-reference.html">API Reference</a> </li>
							<li> <a href="/references/cli-reference.html">CLI Reference</a> </li>
							<li> <a href="/references/inkling-reference.html">Inkling Reference</a> </li>
							<li> <a href="/references/library-reference.html">Library Reference</a> </li>
						
					</div>

					<div>
						
						<p class="p2">Examples</p>
						
						<ul>
							<li> <a href="/examples.html#basic-simulator-find-the-center">Create a Simulator Walkthrough</a></li>
							<li> <a href="/examples.html#openai-gym-cart-pole">OpenAI Gym's Cart Pole Balance</a></li>
							<li> <a href="/examples.html#openai-gym-mountain-car">OpenAI Gym's Mountain Car Control</a></li> 
							<li> <a href="/examples.html#energyplus-hvac-optimization">EnergyPlus HVAC Optimization</a></li> 
							<li> <a href="/examples.html#gazebo-turtlebot">Gazebo Simulated Turtlebot</a></li>
						</ul>
						
					</div>
					
				</span>

			</div>
			
			<div id ="help" class="light-background ">

				<div class="flex-desktop-center-column more-padding-1">

					<p class="welcome">Need more help?</p>
					<p class="sub-text-1">Can't find what you're looking for, or have more questions about Bonsai?</p>

					<div class="flex-desktop-center-rows more-help-links sub-text-1">
					<a href="http://bons.ai/"><img src="/images/tree.svg">Bonsai Home</a>
					<a href="https://bons.ai/blog"><img src="/images/forums.svg">Bonsai Blog</a>
					<a href="https://bons.ai/contact-us#contact-page-form"><img src="/images/email.svg">Contact Us</a>
					
					</div> 

				</div>

			</div>
			
			<div id="bottom" class="more-help-padding border-top-ccc">

				<div >

					<div class="footer-links-home flex-footer stretched">
						<a href="https://beta.bons.ai">BRAIN Dashboard</a>
						<a href="http://pages.bons.ai/apply.html">Apply for Bonsai Platform Preview</a>
						<a href="https://github.com/BonsaiAI/slate">Contribute to the Docs on GitHub</a>

						
						<a class="home-cc-icon" href='https://creativecommons.org/licenses/by-sa/4.0/' >
							
				
		
						
						CC-BY-SA </a>
						
						

					</div>

				</div>

			</div>	

		</div>

	</div>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
	<script type="text/javascript"> docsearch({
	apiKey: '49fa6f01d7ff94a85b9b7434b1c2b7cf',
	indexName: 'bon-sai',
	inputSelector: '#docs-search',
	debug: true // Set debug to true if you want to inspect the dropdown
	});
	</script>
</body>

</html>
