<nav id="primary-nav">



	<div id="logo"> <% link_to '/index.html' do %><img class="bonsai-logo" src="/images/bonsai-logo.svg"><% end %></div>

	<label for="drop" class="toggle"><img class="menu-ham" src="/images/menu.svg"></label>
	<input type="checkbox" id="drop" />

	<ul class="menu">

		<li class="header_menu_item <%= is_page_selected("/guides/getting-started.html") %>"> <%= link_to 'Quick Start', '/guides/getting-started.html' %></li>

		<li class="header_menu_item"> <!-- First Tier Drop Down --> <label for="drop-1" class="toggle">Tutorials +</label><a  href="#">Tutorials</a>
			<input type="checkbox" id="drop-1"/>
			<ul id="tutorials">
				<li class="<%= is_page_selected("/guides/cli-install-guide.html") %>"> <%= link_to 'Install the CLI', '/guides/cli-install-guide.html' %>  </li>
				<li class="<%= is_page_selected("/guides/sdk-install-guide.html") %>"> <%= link_to 'Install the SDK', '/guides/sdk-install-guide.html' %>  </li>
				<li class="<%= is_page_selected("/guides/local-dev-guide.html") %>"> <%= link_to 'Run the Platform Locally', '/guides/local-dev-guide.html' %>  </li>
				<li class="<%= is_page_selected("/guides/jupyter-api-guide.html") %>"> <%= link_to 'Use Bonsai\'s API with Jupyter', '/guides/jupyter-api-guide.html' %>  </li>
			</ul>
		</li>

		<li class="header_menu_item"> <!-- First Tier Drop Down --> <label for="drop-2" class="toggle">Guides +</label><a  href="#">Guides</a>
			<input type="checkbox" id="drop-2"/>
			<ul id="guides">
				<li class="<%= is_page_selected("/guides/simulation-guide.html") %>"> <%= link_to 'Learn About Simulation Requirements', '/guides/simulation-guide.html' %>  </li>
				<li class="<%= is_page_selected("/guides/inkling-guide.html") %>"> <%= link_to 'Learn the Inkling Language', '/guides/inkling-guide.html' %>  </li>
				<li class="<%= is_page_selected("/guides/ai-engine-guide.html") %>"> <%= link_to 'Understand AI Engine Components', '/guides/ai-engine-guide.html' %>  </li>
				<li class="<%= is_page_selected("/guides/web-graphs-guide.html") %>"> <%= link_to 'Understand BRAIN Graphs', '/guides/web-graphs-guide.html' %>  </li>
			</ul>
		</li>

		<li class="header_menu_item"> <!-- First Tier Drop Down --> <label for="drop-3" class="toggle">References +</label><a  href="#">References</a>
			<input type="checkbox" id="drop-3"/>
			<ul id="references">
				<li class="<%= is_page_selected("/references/api-reference.html") %>"> <%= link_to 'API Reference', '/references/api-reference.html' %>  </li>
				<li class="<%= is_page_selected("/references/cli-reference.html") %>"> <%= link_to 'CLI Reference', '/references/cli-reference.html' %>  </li>
				<li class="<%= is_page_selected("/references/inkling-reference.html") %>"> <%= link_to 'Inkling Reference', '/references/inkling-reference.html' %>  </li>
				<li class="<%= is_page_selected("/references/library-reference.html") %>"> <%= link_to 'Library Reference', '/references/library-reference.html' %>  </li>
				<li class="<%= is_page_selected("/references/simulator-reference.html") %>"> <%= link_to 'Simulator Reference', '/references/simulator-reference.html' %>
			</ul> 
		</li>

		<li class="header_menu_item <%= is_page_selected("/examples.html") %>"> <%= link_to 'Examples', '/examples.html' %></li>

		<li>
			<input type="search" id="docs-search" placeholder="Search Bonsai Docs">
		</li>


	</ul>

</nav>
